[project]
	description = Application Crash Reports for Android
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Shaw Yan (xiaoyanit)
[access "refs/for/refs/*"]
	read = group user/Shaw Yan (xiaoyanit)
	push = group user/Shaw Yan (xiaoyanit)
	label-Code-Review = -2..+2 group user/Shaw Yan (xiaoyanit)
	label-Verified = -1..+1 group user/Shaw Yan (xiaoyanit)
	rebase = group user/Shaw Yan (xiaoyanit)
	removeReviewer = group user/Shaw Yan (xiaoyanit)
	submit = group user/Shaw Yan (xiaoyanit)
[access "refs/heads/*"]
	read = group user/Shaw Yan (xiaoyanit)
	create = group user/Shaw Yan (xiaoyanit)
	push = +force group user/Shaw Yan (xiaoyanit)
	pushMerge = group user/Shaw Yan (xiaoyanit)
[access "refs/tags/*"]
	push = +force group user/Shaw Yan (xiaoyanit)
	pushTag = group user/Shaw Yan (xiaoyanit)
	pushSignedTag = group user/Shaw Yan (xiaoyanit)
